# DataScienceEcosystem

## we will summarize data sience in this notebook

**objectives**

- create a jupyter notebook.
- create a code cell and markdown cell.
- format markdown cell.
- create a list.

#### these are some of common language in data science

1. python
2. R
3. java
4. julia

#### most comman library in dat science .

* pandas
* numpy
* matplotlib

| data science tools |
| ---------------------- |
| Jupyter Lab |
| Jupyter noteboo|
| R stedio |

### low are a few examples of evaluating arithmetic expressions in Python

#####  This a simple arithmetic expression to mutiply then add integers

In [1]:
(3*4)+5

17

*we will convert 200 minutes to hours by dividing by 60*

In [1]:
200/60

3.3333333333333335

## the author:

Tharaa Kassem